<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Ihr Standort wird benötigt, damit die Denkmallisten - App Denkmale in ihrer Nähe anzeigen kann.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Ihr Standort wird benötigt, damit die Denkmallisten - App Denkmale in ihrer Nähe anzeigen kann.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Ihr Standort wird benötigt, damit die Denkmallisten - App Denkmale in ihrer Nähe anzeigen kann.</string>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array>
		<string>MKDirectionsModeBus</string>
		<string>MKDirectionsModeCar</string>
		<string>MKDirectionsModePedestrian</string>
		<string>MKDirectionsModeStreetCar</string>
		<string>MKDirectionsModeSubway</string>
		<string>MKDirectionsModeTaxi</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>launchImg</string>
		<key>UIColorName</key>
		<string>logoColor</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
	</dict>
</dict>
</plist>
